html {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	touch-action: none;
}

html, body {
	overscroll-behavior-x: none;
}

body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;

	font-family: "Courier New", Courier, monospace;

	background-color: #000000;

	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;

	-webkit-touch-callout: none;

	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}