:root {
	--anim: 0.37s;
	--fast: 0.23s;
	--ease: ease-in-out;
	--back: rgba(255, 255, 255, 0.65);
	--bcck: rgba(255, 255, 255, 0.75);
	--blck: rgba(255, 255, 255, 0.85);
	--col: rgba(0, 0, 0, 1);
	--hil: rgb(0, 128, 255);
	--rad: 4px;
	--pad: 4px;
	--spc: 6px;
	--icn: 36px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--back: rgba(0, 0, 0, 0.6);
		--bcck: rgba(0, 0, 0, 0.7);
		--blck: rgba(0, 0, 0, 0.85);
		--col: rgba(186, 186, 186, 1);
	}
}

html {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	touch-action: none;
}

body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;

	font-family: "Courier New", Courier, monospace;

	background-color: #1A1A1A;

	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;

	-webkit-touch-callout: none;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

div,
span {
	box-sizing: border-box;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	touch-action: none;
	/* 1 = no transitionend evt = no init previous experiments */
	opacity: 0.99; 
	/* opacity: 0; */
	transition: all var(--fast) var(--ease);
}

.err {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90%;
	max-width: 460px;
	z-index: 1000;
	transform: translate(-50%, -50%);
	color: #bababa;
	background-color: rgba(0, 0, 0, 0.66);
	padding: 1em .5em;
	text-align: center;
}

.err div {
	color: #ff8400;
	font-size: 1.5em;
}

#fps {
	position: absolute;
	bottom: 3px;
	right: 3px;
	z-index: 100;
	color: var(--col);
	opacity: 0.5;
	padding: 0 var(--pad);
	font-size: 1.1em;
	pointer-events: none;
	background: var(--back);
}

/* MENU BTN */

.gear {
	pointer-events: all;
	position: fixed;
	left: calc(100% + var(--spc));
	top: var(--spc);
	width: var(--icn);
	height: var(--icn);
	z-index: 10;
	cursor: pointer;
	background-color: var(--bcck);
	-webkit-mask-image: url("../../assets/gear.png");
	mask-image: url("../../assets/gear.png");
	mask-repeat: no-repeat;
	mask-size: contain;
	box-shadow: 1px 1px 2px var(--col);
}

.gear.up {
	/* transform-origin: 0px 0px; */
	/* animation: gearup ease-in-out 1.3s; */
	/* transform: rotate(360deg); */
}

@keyframes gearup {
    0% {
		
    }
	30% {
		transform: scale(1.6);
		background-color: #007bff;
	}
	85% {
		transform: scale(1.6);
	}
    100% {
    }
}

/* MENU PANE */

.params {
	position: fixed;
	z-index: 20;
	left: 0px;
	top: 0px;
	height: 100%;
	pointer-events: none;
	padding: var(--pad);
	transform: translateX(-100%);
	transition: all var(--anim) var(--ease);
}

.params.exp {
	height: 100%;
}

.params.pop {
	transform: translateX(0px);
}

.pwrp {
	pointer-events: all;
	max-height: 100%;
	opacity: 0;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	gap: var(--pad);
	color: var(--col);
	font-size: 1.15em;
	transition: all var(--anim) var(--ease);
}

.pwrp.nobar {
	/* Internet Explorer 10+ */
	-ms-overflow-style: none;
	/* Firefox */
	scrollbar-width: none;
}

.pwrp::-webkit-scrollbar {
	/* Safari and Chrome */
	display: none;
}

.params.pop .pwrp {
	opacity: 1;
}

.params.msk {
	opacity: 0;
	visibility: hidden;
}

/* ALL CTRLS */

.preset,
.toggle,
.action,
.grp,
.prop {
	cursor: pointer;
	outline: none;
}

/* BTNS WRAP */

.switch {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: var(--pad);
	row-gap: var(--spc);
	background-color: var(--blck);
	border-radius: var(--rad);
	padding: var(--pad);
	font-size: 1.2em;
}

/* PRESETS */

.preset {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2em;
	background-color: var(--blck);
	border-radius: var(--rad);
	padding: var(--pad) 0em;
}

.prename {
	font-size: 1.2em;
}

.preprev,
.prenext {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	width: 32px;
}

/* ACTION */

.action {
	text-align: center;
}

.action:focus {
	animation: feed 0.8s var(--ease);
}

.action:active {
	-webkit-animation: none;
	animation: none;
}

@keyframes feed {
	13% {
		color: var(--hil);
	}
}

/* TOGGLE */

.toggle {
	text-align: center;
	transition: all var(--fast) var(--ease);
}

.toggle.toggled {
	color: var(--hil);
}

/* GROUPS */

.group {
	border-radius: var(--rad);
}

.group.exp {
}

.group .grp {
	background-color: var(--back);
	padding: 0.22em 0.33em;
	border-top-left-radius: var(--rad);
	border-top-right-radius: var(--rad);
	cursor: pointer;
	user-select: none;
	transition: all var(--fast) var(--ease);
}

.group:not(.exp) .grp {
	border-bottom-left-radius: var(--rad);
	border-bottom-right-radius: var(--rad);
}

.group.exp .grp {
	background-color: var(--blck);
}

.group .wrp {
	display: grid;
	grid-template-rows: 0fr;
	transition: all var(--anim) var(--ease);
}

.group.exp .wrp {
	grid-template-rows: 1fr;
}

.group .cnt {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 0;
	opacity: 0;
	background-color: var(--back);
	border-bottom-left-radius: var(--rad);
	border-bottom-right-radius: var(--rad);
	transition: all var(--fast) var(--ease);
}

.group.exp .cnt {
	opacity: 1;
	background-color: var(--bcck);
}

/* PROPS */

.prop {
	display: flex;
	gap: var(--spc);
	align-items: center;
	justify-content: space-between;
	padding: 0.22em 0.33em;
}

.prop .valt,
.prop .val {
	transition: all var(--anim) var(--ease);
}

.prop .val {
	transition: all var(--anim) var(--ease);
}

.prop.down .valt {
	color: var(--hil);
}

.prop.down .val {
}

/* GITHUB LOGO */

a {
	position: absolute;
	right: var(--spc);
	top: var(--spc);
	z-index: 10;
}

#github {
	width: var(--icn);
	height: var(--icn);
}
